<div class="container-fluid ">
  <h2>Register Form</h2>
  <div class="simple-login-container " >
    <form #loginForm="ngForm" (ngSubmit)="register()">
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="inputUserName">Username</label>
          <input type="text" class="form-control" placeholder="username"  name="username"
                 [(ngModel)]="model.username" id="inputUserName">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <label for="inputPassword">Password</label>
          <input type="password" placeholder="Enter your Password" class="form-control"  name="password"
                 [(ngModel)]="model.password" id="inputPassword">
        </div>
      </div>
      <div class="row">
        <div class="col-md-12 form-group">
          <button type="submit" class="btn btn-block btn-primary" >Register</button>
        </div>
      </div>
    </form>

    <div class="row text-center">
      <div class="col-md-12">
        <a id="backbtn" (click)="cancel()">Go Back</a>
      </div>
    </div>
  </div>
</div>
